<h1>New employe_ccq_qualification</h1>

<% form_for(@employe_ccq_qualification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :qualification_name_fr %><br />
    <%= f.text_field :qualification_name_fr %>
  </p>
  <p>
    <%= f.label :qualifaction_name_en %><br />
    <%= f.text_field :qualifaction_name_en %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', employe_ccq_qualifications_path %>