<html>
<div id="search-default">
  <table summary="Project Search">
  <caption><%= I18n.translate('filter.caption') + " " + @search.count.to_s + " " + I18n.translate('filter.record') %></caption>
     <tr>
      <th scope="col"> <%= I18n.translate('project.name') %> </th>
      <th scope="col"> <%= I18n.translate('project.description') %> </th>
     </tr>
     <tr>
       <% form_for @search do |f| %>
         <td>
           <p>
           <%= f.text_field :name_like, :size => 20 %>
          <p>
         </td>
         <td> 
           <p>
           <%= f.text_field :description_like, :size => 20 %>
           <p>
         </td>
      </tr>
   </table>
       <br>
       <%= f.submit "Appliquer les filtres"%>
       <% end %>
</div>
