<h1>New employe_ccq_sector</h1>

<% form_for(@employe_ccq_sector) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sector_name_fr %><br />
    <%= f.text_field :sector_name_fr %>
  </p>
  <p>
    <%= f.label :sector_name_en %><br />
    <%= f.text_field :sector_name_en %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', employe_ccq_sectors_path %>