 <div id="tab1data" style="display:none">
   <script type="text/javascript">
      $("tab1data").show( ); 
   </script>  
  <p>
    <b>ID:</b>
    <%=h @employe.id %>
  </p>
  <p>
    <b>First name:</b>
    <%=h @employe.first_name %>
  </p>

  <p>
    <b>Last name:</b>
    <%=h @employe.last_name %>
  </p>

  <p>
    <b>Address1:</b>
    <%=h @employe.address1 %>
  </p>

  <p>
    <b>Address2:</b>
    <%=h @employe.address2 %>
  </p>

  <p>
    <b>Province:</b>
    <%=h @employe.province %>
  </p>

  <p>
    <b>City:</b>
    <%=h @employe.city %>
  </p>

  <p>
    <b>Code postal:</b>
    <%=h @employe.postal_code %>
  </p>

  <p>
    <b>ssn:</b>
    <%=h @employe.ssn %>
  </p>
   <p>
    <b>Email:</b>
    <%=h @employe.email %>
  </p>

  <p>
    <b>Date birth:</b>
    <%=h @employe.date_birth %>
  </p>

  <p>
    <b>Date hire:</b>
    <%=h @employe.date_hire %>
  </p>

  <p>
    <b>Date startemp:</b>
    <%=h @employe.date_startemp %>
  </p>

  <p>
    <b>Date endemp:</b>
    <%=h @employe.date_endemp %>
  </p>

  <p>
    <b>Country:</b>
    <%=h @employe.country %>
  </p>

  <p>
    <b>Civil status:</b>
    <%=h @employe.civil_status %>
  </p>
  <br>
  </div>
