<html>
<style type-"text/css">

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #c85b00; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #c85b00; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #c85b00; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #ff7400; /* set unselected tab background color as desired */
color: #fff; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #FA9C39; /* set desired hover color */
color: #000;
}


</style>
<%= render(:partial => "employemenushow" ) %>

<div id="menucenter">
    <ul id="tabnav">
    <li class="tab1">
     <%=link_to "Detail", @employe %> 
    </li> 
    <li>
     <%=link_to "Salaire", @employe %> 
    </li> 
    <li>
     <%=link_to "Metier", @employe %> 
    </li> 
    <li>
     <%=link_to "Retenue", @employe %> 
    </li>   
    <li>
     <%=link_to "Cotisation Syn.", @employe %> 
    </li>   
  </ul>
  <p>
    <b>ID:</b>
    <%=h @employe.id %>
  </p>
  <p>
    <b>First name:</b>
    <%=h @employe.first_name %>
  </p>

  <p>
    <b>Last name:</b>
    <%=h @employe.last_name %>
  </p>

  <p>
    <b>Address1:</b>
    <%=h @employe.address1 %>
  </p>

  <p>
    <b>Address2:</b>
    <%=h @employe.address2 %>
  </p>

  <p>
    <b>Province:</b>
    <%=h @employe.province %>
  </p>

  <p>
    <b>City:</b>
    <%=h @employe.city %>
  </p>

  <p>
    <b>Code postal:</b>
    <%=h @employe.postal_code %>
  </p>

  <p>
    <b>ssn:</b>
    <%=h @employe.ssn %>
  </p>
   <p>
    <b>Email:</b>
    <%=h @employe.email %>
  </p>

  <p>
    <b>Date birth:</b>
    <%=h @employe.date_birth %>
  </p>

  <p>
    <b>Date hire:</b>
    <%=h @employe.date_hire %>
  </p>

  <p>
    <b>Date startemp:</b>
    <%=h @employe.date_startemp %>
  </p>

  <p>
    <b>Date endemp:</b>
    <%=h @employe.date_endemp %>
  </p>

  <p>
    <b>Country:</b>
    <%=h @employe.country %>
  </p>

  <p>
    <b>Civil status:</b>
    <%=h @employe.civil_status %>
  </p>
  <br>
  <div id="search-default">
    <table summary="Employe Attachement">
      <caption>
        <%= I18n.translate('employe_attachment.caption') %>
      </caption>
      <tr>
        <th>
          <%= I18n.translate('employe_attachment.file_name') %>
        </th>
         <th>
          <%= I18n.translate('employe_attachment.file_description') %>
        </th>
        <th>
          <%= I18n.translate('employe_attachment.file_size') %>
        </th>
        <th>
          <%= I18n.translate('employe_attachment.content_type') %>
        </th>
        <th>
          <%= I18n.translate('employe_attachment.added_date') %>
        </th>
        <th>
          <%= I18n.translate('employe_attachment.added_by') %>
        </th>
      </tr>
      <% @employe_attachments.each do |attachment| %>
      <tr>
         <td>
            <%= truncate(attachment.filename,:lenght => 25) %>
           
          </td>
          <td>
            <%= truncate(attachment.description,:lenght => 35) %>
          </td>
          <td>
            <%= attachment.filesize %>
          </td>
          <td>
            <%= truncate(attachment.content_type,:lenght => 25) %>
          </td>
          <td>
            <%= attachment.added_date.to_s%>
          </td>
        </tr>
      <% end %>
    </table>
      <%= will_paginate @employe_attachments, :previous_label => I18n.translate('will_paginate.prev_page'), :next_label => I18n.translate('will_paginate.next_page')%>
  </div>
  <% form_tag 'create_attachment', :multipart => true do %>
	  <%= file_field_tag 'attachment' %>
	  <%= hidden_field_tag(:id, @employe.id )%>
	  <%= submit_tag "Send Attachment" %>
  <% end %>
  <%#= debug(@employe_attachments)%>

</div>


  <%= render(:partial => "employeactionshow" ) %>



