<html>
<%if session[:user_id]%>
  <div id="menu">
    <ul>
      <li>
        <a href="/"><%= I18n.translate('menu.home') %></a>
      </li>
      <li>
        <a href="/contacts"><%= I18n.translate('menu.contact') %></a>
      </li>  
      <li>
        <a href="/projects"><%= I18n.translate('menu.project') %></a>
      </li>      
      <li>
        <a href="/customers"><%= I18n.translate('menu.customer') %></a>
      </li> 
      <li>
        <a href="/suppliers"><%= I18n.translate('menu.supplier') %></a>
      </li> 
      <li>
        <a href="/employes"><%= I18n.translate('menu.employe') %></a>
      </li>
    </ul>
  </div>
<% end %>
